  .creator-name{
    color: black;
    font-family: 'Playball', cursive;
    font-size: 25px;
  }

  .apidocumentation{
    color: black;
    font-family: 'Playball', cursive;
    font-size: 25px;
  }
  
  .icon-contact{
    width: 50px;
    height: 50px;
  }

  @media all and (min-width: 601px){
    .footer{
      background-color: #e96d01;
      height: 110px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-radius: 0px 0px 26px 26px;
    }
    .contacts{
      display: grid;
      width: 50%;
      position: relative;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
    }
  
  }

  @media all and (max-width: 600px){
    .footer{
      background-color: #e96d01;
      height: auto;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      border-radius: 0px 0px 26px 26px;
    }
    .contacts{
      display: grid;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      position: relative;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
    }
  }
  